* {
    margin: 14px;
    padding: 11px;
    box-sizing: border-box;
}

body {
    background: url('../imagenes/electrico7.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.contenedor .form .form-header .form-titulo {
    font-weight: normal;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 14px 0;
}

.contenedor .form .form-header .form-titulo span {
    color: #4ea2f0;
}

.contenedor .form {
    background: rgba(0, 0, 0, .6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-label {
    display: block;
    color: #fb8500;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.contenedor .form .form-imput,
.form-texarea {
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #fb8500;
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white;
}

.contenedor .form .form-texarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor .form .btn-submit {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    background: #fb8500;
    font-size: 20px;
    border: none;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor .form .btn-submit:hover {
    background: #fb8500;
}