.nav {
    --padding-container: 0px;
    height: 142%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin: 5px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.nav__links.active {
    background: #fff;
}

.nav__title {
    font-size: 25px;
    color: #fff;
    font-weight: 300;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

.nav__links:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 80vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 68px 1fr;
    color: #fff
}

.hero::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 101%;
    height: 19%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../imagenes/electrico7.jpg');
    background-size: cover;
    z-index: -1;
}

:root {
    --colorTextos: #49454567;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../imagenes/electrico7.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-weight: 700;
}

form {
    background: rgba(0, 0, 0, .6);
    padding: 26px 0;
    box-shadow: 0 0 6px 0 rgba(27, 19, 19, 0.945);
    border-radius: 12px;
    margin-top: 121px;
    margin-left: 452px;
    height: 79%;
    width: 41%;
}

.form {
    width: 90%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 38px;
}

input {
    background: none;
    color: #e8dada;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus {
    outline: none;
    color: #eee3e3;
}

label {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #fb8500;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #fb8500, #175676);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #d00000;
    padding-top: 20px;
}

button {
    font-family: 'roboto';
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e85d04, #e85d04);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fb8500, #ffb703);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #f8f9fa;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    form {
        width: 80%;
    }
}